body{
    
    margin:0;
    background-image: url('./kanyebackground.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;

}

.kanyeBackground{
    
    
}



.kanyeQuotes{
    color: white;

}